<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">

        <h2>Udacity Machine Learning Nanodegree - Finding Donors </h2>
      </div>
      <div class="card-body">

        <p>Much of the idea and code, including the data for visualizations, come from the Udacity Machine
          Learning Repo.</p>
        <p><a href="https://github.com/udacity/machine-learning/tree/master/projects/finding-donors">Udacity -
          Finding Donors</a></p>

        <p>I am currently taking the Udacity Machine Learning Nanodegree. I also want to increase my data
          visualization skills, and get into this cloud stuff all the cool kids are talking about.</p>
        <p>The server side code, generating the data for the visualizations, is a python flask app.</p>
        <p>The client side is an Angular6 application, and the visualizations are written using D3.</p>


      </div>
    </div>
  </div>
</div>
