<app-header
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/pilgrim-hat.svg', width: 89, height: 25, alt: 'Boston'}"
  [navbarBrandMinimized]="{src: 'assets/pilgrim-hat.svg', width: 30, height: 30, alt: 'Boston'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="false"
>
  <ul class="nav navbar-nav ml-auto">
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
  <app-aside [fixed]="true" [display]="false">
  </app-aside>
</div>

