<br>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3>Income Bar Chart - {{frequencyKey}}</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <h3>Income <=50K</h3>
            <div #lchart></div>
          </div>
          <div class="col-md-6">
            <h3>Income >50K</h3>
            <div #gchart></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

